<body>
  <p>
    DAMP - Device Activity Management Platform
  </p>
  <button>
      Download Monitoring Panel
  </button>
  <button>
      Install Monitoring Client
  </button>
  <button>
      Download Installment Guide
  </button>
</body>
<script>
  function downloadPanel() {};
  function installGuide() {};
</script>
// TODO: make it possible to download the backend generated html file through the ejs template which becomes the frontend
